input{
    padding:5px;
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.671);
    position: relative;
    left: 490px;
    font-size: 15px;
    top: 45px;
}

h3{
    position: relative;
    top: 40px;
    width: fit-content;
    left: 470px;
    margin: 15px;
    padding:5px;
}

h2{
    position: relative;
    top: 10px;
    width: fit-content;
    left: 470px;
    margin: 0%;
}

h1{
    position: relative;
    top: 20px;
    left: 500px;
    width: fit-content;
}

.button1{
    position: relative;
    left: 530px;
    top: 90px;
    border: none;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.4s;     
    cursor: pointer; 
    background-color: rgb(215, 226, 53);
}

.button1:hover{
    box-shadow: 5px 5px rgba(52, 52, 53, 0.289);;
}

body{
    background-color: rgba(245, 242, 242, 0.459);
    margin: 0px;
    padding: 0px;
}

img{
    width: 200px;
    border: none;
    border-radius: 250px;
    margin:0px;
    position: relative;
    left: 530px;
    size: 20px;
}