body{
    background-color: rgb(236, 236, 14);
    margin: 0px;
}

h2{
    font-weight: bold;
    font-size: 30px;
    margin-left: 30px;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 100px;
    width: fit-content;   
}

.ea{
    height: 630px;
    border-radius: 70px 70px 0px 0px;
    background-color: white;
}

input{
    padding:5px;
    width: 400px;
    height: 30px;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.671);
    position: relative;
    left: 120px;
    font-size: 15px;
    top: 55px;
}

h3{
    font-family:sans-serif;
    font-size: 20px;
    position: relative;
    left: 120px;
    width: 500px;
    top: 50px;
}

.button2{
    position: relative;
    top: 90px;
    left: 200px;
    border: none;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.4s;     
    cursor: pointer; 
    background-color: rgb(215, 226, 53);
}

.button2:hover{
    box-shadow: 5px 5px rgba(52, 52, 53, 0.289);
}

a{
    position: relative;
    top: 100px;
    left:430px;
    color: black;
}

p{
    position: relative;
    left: 350px;
    top: 100px;
    margin:0px;
    width: 200px;
    font-style: oblique;
}

