body{
    background-color: rgb(62, 42, 192);
    margin: 0px;
}

h2{
    font-weight: bold;
    font-size: 30px;
    margin-left: 30px;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 100px;
    width: fit-content;   
}

.emma{
    height: 512px;
    border-radius: 70px 70px 0px 0px;
    background-color: white;
}

input{
    padding:5px;
    width: 400px;
    height: 30px;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.671);
    position: relative;
    left: 120px;
    font-size: 15px;
    top: 55px;
}

h3{
    font-family:sans-serif;
    font-size: 20px;
    position: relative;
    left: 120px;
    width: 500px;
    top: 50px;
}
    
a{
    position: relative;
    top: 100px;
    color: black;
}

.button1{
    border: none;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.4s;     
    cursor: pointer; 
    background-color: dodgerblue;
    position: relative;
    top: 150px;
    right: 330px;
    backface-visibility:visible;
}

.button1:hover{
    box-shadow: 5px 5px rgba(52, 52, 53, 0.289);
}