.button1{
    border: none;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    vertical-align: middle;
    font-size: 50px;
    margin-bottom: 20px;
    transition: 0.4s;
    position: relative;
    left: 465px;
    top: 150px;
    cursor: pointer;
}

.button1:hover{
    box-shadow: 5px 5px rgb(52, 52, 53);
}

.button2{
    border: none;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    vertical-align: middle;
    font-size: 50px;
    transition: 0.4s;
    position: relative;
    left: 450px;
    top: 150px;
    cursor: pointer;
}

.button2:hover{
    box-shadow: 5px 5px rgb(52, 52, 53) ;
}

marquee{
    color: white;
}

p{
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 150px;
    left: 455px;
    color: white;
}

img{
    width: 200px;
    border: none;
    border-radius: 250px;
    margin-left: 530px;
}

body{
    margin: 0px;
    enable-background:accumulate;
    background-attachment: fixed;
    background-image: url(images/login.jpg);
}


